{
  "mcpServers": {
    "cloudinary-assets": {
      "url": "https://asset-management.mcp.cloudinary.com/mcp",
      "headers": {
        "cloudinary-url": "cloudinary://API_KEY:API_SECRET@CLOUD_NAME"
      }
    },
    "cloudinary-env": {
      "url": "https://environment-config.mcp.cloudinary.com/mcp",
      "headers": {
        "cloudinary-url": "cloudinary://API_KEY:API_SECRET@CLOUD_NAME"
      }
    },
    "supabase": {
      "url": "https://mcp.supabase.com/mcp?project_ref=umrpibwhxpzsfdyypiuf&features=docs%2Caccount%2Cdatabase%2Cdebugging%2Cdevelopment%2Cfunctions%2Cbranching"
    },
    "playwright": {
      "command": "npx",
      "args": ["-y", "@playwright/mcp@latest", "--browser=chromium"]
    }
  }
}
